VITE_API_BASE_URL=http://127.0.0.1:8000/api/v1
VITE_LANGUAGE_CODE=en
VITE_HTTP_TIMEOUT_MS=15000
VITE_ONLYOFFICE_DOCS_URL=http://127.0.0.1:8082
VITE_ONLYOFFICE_CALLBACK_PROXY_URL=http://127.0.0.1:8000
